.parent{

display:flex;
flex-direction:row | row-reverse | column | column-reverse;
flex-wrap:wrap | nowrap | wrap-reverse;
flex-flow: <‘flex-direction’> || <‘flex-wrap’>;
justify-content:flex-start | flex-end | center | space-between | space-around | space-evenly;
align-items:flex-start | flex-end | center | baseline | stretch;
align-content: flex-start | flex-end | center | space-between | space-around | stretch;	
}

.child{
	order:2;
	flex-grow:<number>;
	flex-shrink:<number>;
	flex-basis:<length> | auto;
	flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ];
	align-self: auto | flex-start | flex-end | center | baseline | stretch;
}